.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .loader-content {
    .loader {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: #b88e2f;
      box-shadow: 0 0 0 0 #fff3e3;
      animation: l2 1.5s infinite linear;
      position: relative;
    }
    .loader:before,
    .loader:after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      box-shadow: 0 0 0 0 #fff3e4;
      animation: inherit;
      animation-delay: -0.5s;
    }
    .loader:after {
      animation-delay: -1s;
    }
  }
}

@keyframes l2 {
  100% {
    box-shadow: 0 0 0 60px #0000;
  }
}
