@import "~react-responsive-carousel/lib/styles/carousel.min.css";

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 1248px; /* Adjust maximum width as needed */
  height: 646px; /* Adjust height as needed */
  position: relative;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1248px; /* Maximum width for each item */
  height: 646px; /* Adjust height as needed */
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.carousel-item img {
  max-width: 100%; /* Ensure the image fills its parent container */
  max-height: 100%; /* Ensure the image fills its parent container */
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
  max-width: 100%;
  height: auto;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #fff3e4;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #fff3e4;
}

.carousel .control-dots .dot {
  border: 1px solid gray;
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  width: 16px;
  height: 16px;
  background: #b88e2f;
  border: none;
}
